body{
    color:black;
    background-color: lightgray;
}
.heading{
    width:80%;
    font-size: 22px;
}
.name_of_objects{
    color: black;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}